* {
  background-image: url("../../assets/background/nature-background-2.jpg");
  background-repeat: no-repeat;
}
.body {
  height: 100vh;

}
.page {
  margin-left: 32%;
}
.card-title {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
}
.card-text {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
