<div class="body ">
    <div class="card-body d-sm-flex  text-dark">
        <h5 class="card-title"> <span class="text-warning">Github Search</span ></h5>
            <div >
               <img clas="images" src="../../assets/person-male--v3.png" alt="image">
            </div>
        <p class="card-text ">Github search app is an Angular App that diplays the necessary repositories by retrieving the user data from Github
        API.By simply submitting your username ,details such as your profile  picture and the number of repositories you have will be displayed</p>
    </div>



</div>

    
