<form (ngSubmit)="getUsername(Userinput)">
    <div class="d-flex">
        <input name="username" [(ng module)]="Username"class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>

    <div class="form-group form-check"></div>
    <button [disabled]="Userinput.length==0" type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="container" *ngIf="user">
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>{{user.login}} </h4>
                </div>
                <div class="card-text">
                    <p>followers:{{user.followers}} </p>
                    <p>following:{{user.following}} </p>
                    <a href="{{user.html_url}}" target="_blank">githuburl</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
