#form {
  background-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(
      180deg,
      rgba(89, 157, 83, 0.4) 11.46%,
      rgba(235, 240, 243, 0.829592) 55.21%,
      rgba(72, 133, 63, 0.62) 100%
    );

  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  width: 712px;
  height: 540px;
  padding: 20px;
}
