
<h1 class="size">Enter your username</h1>
<form class="form"(ngSubmit)="getUsername(UserInput)">
    <div class="d-flex">
        <input name="username" [(ngModel)]="UserInput" class="form-control me-2" type="search" placeholder="Search"
            aria-label="Search"  #username='ngModel'/>
        <button [disabled]="UserInput.length==0" class="btn btn-outline-success" type="submit">Search</button>
    </div>

</form>
<div class="container" *ngIf="user">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>{{user.login}} </h4>
                    </div>
                    <div class="card-text">
                        <p>followers:{{user.followers}} </p>
                        <p>following:{{user.following}} </p>
                        <a href="{{user.html_url}}" target="_blank">githuburl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
